{{- define "app.kedaTriggers" -}}
{{- $kedaMetrics := index . 0 -}}
{{- $prometheusServerAddress := index . 1 -}}
{{- $awsRegion := index .  2 -}}
{{- $parentContext := index . 3 -}}
{{- range $type, $metric := $kedaMetrics -}}
{{- if eq $type "prometheus" }}
{{- include "app.prometheusTrigger" (list $prometheusServerAddress $metric $type $parentContext) }}
{{- else if eq $type "aws-sqs-queue" }}
{{- include "app.sqsTrigger" (list $awsRegion $metric $type $parentContext) }}
{{- else if or (eq $type "memory") (eq $type "cpu") }}
{{- include "app.resourceTrigger" (list  $metric $type $parentContext) }}
{{- end }}
{{- end }}
{{- end }}

{{- define "app.prometheusTrigger" -}}
{{- $prometheusServerAddress := index . 0 -}}
{{- $metric := index . 1 -}}
{{- $type := index . 2 -}}
{{- $parentContext := index . 3 }}
- type: {{ $type }}
  metricType: {{ $metric.metricType }}
  metadata:
    serverAddress: {{ $prometheusServerAddress }}
    threshold: {{ $metric.threshold | quote }}
    query: {{ tpl (toYaml $metric.query) $parentContext }}
    authModes: "custom"
  authenticationRef:
    name: groundcover-cluster-trigger-auth
    kind: ClusterTriggerAuthentication
{{- end }}

{{- define "app.sqsTrigger" -}}
{{- $awsRegion := index . 0 -}}
{{- $metric := index . 1 -}}
{{- $type := index . 2 -}}
{{- $parentContext := index . 3 }}
- type: {{ $type }}
  metricType: {{ $metric.metricType }}
  metadata:
    queueURL: {{ tpl $metric.queueURL $parentContext }}
    queueLength: {{ $metric.queueLength | quote }}
    awsRegion: {{ $awsRegion }}
  authenticationRef:
    name: sqs-cluster-trigger-auth
    kind: ClusterTriggerAuthentication
{{- end }}

{{- define "app.resourceTrigger" -}}
{{- $metric := index . 0 -}}
{{- $type := index . 1 -}}
{{- $parentContext := index . 2 }}
- type: {{ $type }}
  metricType: {{ $metric.metricType }}
  metadata:
    value: {{ $metric.value | quote }}
{{- end }}

{{- if $.Values.server.enabled }}
{{- range $service := (list "frontend" "history" "matching" "worker") }}
{{ $serviceValues := index $.Values.server $service }}
{{- if $serviceValues.keda }}
{{- $minReplicas := default $.Values.server.replicaCount $serviceValues.replicaCount }}
{{- $maxReplicas := $serviceValues.maxReplicaCount }}
{{- $kedaMetrics := $serviceValues.kedaMetrics }}
{{- $hpaBehavior := $serviceValues.hpaBehavior }}
{{- $prometheusServerAddress := $.Values.prometheusServerAddress | quote}}
{{- $awsRegion := $.Values.awsRegion -}}

---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "temporal.componentname" (list $ $service) }}-scaledobject
spec:
  advanced:
    horizontalPodAutoscalerConfig:
      name: {{ include "temporal.componentname" (list $ $service) }}-keda-hpa
      {{- if $hpaBehavior }}
      behavior:
      {{- tpl (toYaml $hpaBehavior) $ | nindent 8 }}
      {{- end }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "temporal.componentname" (list $ $service) }}
  minReplicaCount: {{ $minReplicas }}
  maxReplicaCount: {{ $maxReplicas }}
  triggers:
  {{- include "app.kedaTriggers" (list $kedaMetrics $prometheusServerAddress $awsRegion $) | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
