{{- if .Values.server.enabled -}}
{{- $server := .Values.server -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ include "temporal.fullname" $ }}-config"
  labels:
    {{- include "temporal.resourceLabels" (list $ "" "") | nindent 4 }}
data:
  config_template.yaml: |-
    log:
      stdout: true
      level: {{ $server.config.logLevel | quote }}

    persistence:
      {{- include "temporal.persistence.filterConfig" $server.config.persistence | nindent 6 }}

    global:
      membership:
        name: temporal
        maxJoinDuration: 30s
        broadcastAddress: {{ `{{ default .Env.POD_IP "0.0.0.0" }}` }}

      pprof:
        port: 7936

      metrics:
        tags:
          type: {{ `{{ .Env.SERVICES }}` }}
          {{- with $server.metrics.tags }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- with $server.metrics.excludeTags }}
        excludeTags:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with $server.metrics.prefix }}
        prefix: "{{- . }}"
        {{- end }}
        {{- with $server.config.prometheus }}
        prometheus:
          {{- toYaml . | nindent 10 }}
        {{- else }}
        prometheus:
          timerType: histogram
          listenAddress: "0.0.0.0:9090"
        {{- end }}

      {{- with $server.config.tls }}
      tls:
        {{- toYaml . | nindent 10 }}
      {{- end }}

      {{- with $server.config.authorization }}
      authorization:
        {{- toYaml . | nindent 10 }}
      {{- end }}

    services:
      frontend:
        rpc:
          grpcPort: {{ $server.frontend.service.port }}
          httpPort: {{ $server.frontend.service.httpPort }}
          membershipPort: {{ $server.frontend.service.membershipPort }}
          bindOnIP: "0.0.0.0"

      {{- if and (hasKey .Values.server "internalFrontend") .Values.server.internalFrontend.enabled }}
      internal-frontend:
        rpc:
          grpcPort: {{ $server.internalFrontend.service.port }}
          httpPort: {{ $server.internalFrontend.service.httpPort }}
          membershipPort: {{ $server.internalFrontend.service.membershipPort }}
          bindOnIP: "0.0.0.0"
      {{- end }}

      history:
        rpc:
          grpcPort: {{ $server.history.service.port }}
          membershipPort: {{ $server.history.service.membershipPort }}
          bindOnIP: "0.0.0.0"

      matching:
        rpc:
          grpcPort: {{ $server.matching.service.port }}
          membershipPort: {{ $server.matching.service.membershipPort }}
          bindOnIP: "0.0.0.0"

      worker:
        rpc:
          membershipPort: {{ $server.worker.service.membershipPort }}
          bindOnIP: "0.0.0.0"

    clusterMetadata:
    {{- with $server.config.clusterMetadata }}
      {{- toYaml . | nindent 8 }}
    {{- else }}
      enableGlobalDomain: false
      failoverVersionIncrement: 10
      masterClusterName: "active"
      currentClusterName: "active"
      clusterInformation:
        active:
          enabled: true
          initialFailoverVersion: 1
          rpcName: "temporal-frontend"
          rpcAddress: "127.0.0.1:{{ $server.frontend.service.port }}"
          httpAddress: "127.0.0.1:{{ $server.frontend.service.httpPort }}"
    {{- end }}

    dcRedirectionPolicy:
    {{- with $server.config.dcRedirectionPolicy }}
      {{- toYaml . | nindent 8 }}
    {{- else }}
      policy: "noop"
      toDC: ""
    {{- end }}

    archival:
    {{- with $server.archival }}
      {{- toYaml . | nindent 6 }}
    {{- else }}
      status: "disabled"
    {{- end }}

    {{- with $server.namespaceDefaults }}
    namespaceDefaults:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- if not (and (hasKey .Values.server "internalFrontend") .Values.server.internalFrontend.enabled) }}
    publicClient:
      hostPort: "{{ include "temporal.componentname" (list $ "frontend") }}:{{ $server.frontend.service.port }}"
    {{- end }}

    dynamicConfigClient:
      filepath: "/etc/temporal/dynamic_config/dynamic_config.yaml"
      pollInterval: "10s"
{{- end }}
