apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "temporal.componentname" (list $ (printf "schema-%d" .Release.Revision | replace "." "-")) }}
  labels:
    {{- include "temporal.resourceLabels" (list $ "database" "") | nindent 4 }}
  {{- with $.Values.schema.jobAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  backoffLimit: {{ $.Values.schema.backoffLimit }}
  ttlSecondsAfterFinished: 86400
  template:
    metadata:
      name: {{ include "temporal.componentname" (list $ (printf "schema-%d" .Release.Revision | replace "." "-")) }}
      labels:
        {{- include "temporal.resourceLabels" (list $ "database" "") | nindent 8 }}
        {{- with $.Values.schema.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with $.Values.schema.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{ include "temporal.serviceAccount" $ }}
      restartPolicy: OnFailure
      initContainers:
        {{- with $.Values.admintools.additionalInitContainers }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- range $_, $store := (include "temporal.persistence.eachStore" $ | fromYaml) }}
          {{- if $store.config.createDatabase }}
        - name: create-{{ $store.name }}-store
          image: "{{ $.Values.admintools.image.repository }}:{{ $.Values.admintools.image.tag }}"
          imagePullPolicy: {{ $.Values.admintools.image.pullPolicy }}
            {{- if eq $store.driver "cassandra" }}
          command: ['temporal-cassandra-tool', 'create', '-k', '{{ $store.config.keyspace }}', '--replication-factor', '{{ $store.config.replicationFactor | default 1 }}'{{- if $store.config.datacenter }}, '--
datacenter', '{{ $store.config.datacenter }}'{{- end }}]
            {{- else if eq $store.driver "sql" }}
          command: ['temporal-sql-tool', 'create-database']
            {{- else -}}
              {{- fail (printf "createDatabase is not supported for %s store" $store.driver) -}}
            {{- end }}
          env:
            {{- include "temporal.admintools-env" (list $ $store) | nindent 12 }}
            {{- with $.Values.admintools.additionalVolumeMounts }}
          volumeMounts:
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with $.Values.schema.resources }}
          resources:
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with $.Values.schema.containerSecurityContext }}
          securityContext:
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
          {{- if $store.config.manageSchema }}
            {{- $schema := include "temporal.persistence.schema" $store }}
        - name: manage-schema-{{ $store.name }}-store
          image: "{{ $.Values.admintools.image.repository }}:{{ $.Values.admintools.image.tag }}"
          imagePullPolicy: {{ $.Values.admintools.image.pullPolicy }}
          command: ['sh', '-c']
          args:
            {{- if eq $store.driver "cassandra" }}
            - temporal-cassandra-tool setup-schema -v 0.0 && temporal-cassandra-tool update-schema --schema-dir /etc/temporal/schema/cassandra/{{ $schema }}/versioned
            {{- else if eq $store.driver "sql" }}
              {{- if eq $store.config.pluginName "mysql8" }}
            - temporal-sql-tool setup-schema -v 0.0 && temporal-sql-tool update-schema --schema-dir /etc/temporal/schema/mysql/v8/{{ $schema }}/versioned
              {{- else if or (eq $store.config.pluginName "postgres12") (eq $store.config.pluginName "postgres12_pgx") }}
            - temporal-sql-tool setup-schema -v 0.0 && temporal-sql-tool update-schema --schema-dir /etc/temporal/schema/postgresql/v12/{{ $schema }}/versioned
              {{- else -}}
                {{- fail (printf "manageSchema is not supported for %s SQL database plugin" $store.config.pluginName) -}}
              {{- end }}
            {{- else if eq $store.driver "elasticsearch" }}
            - temporal-elasticsearch-tool setup-schema && temporal-elasticsearch-tool create-index && temporal-elasticsearch-tool update-schema --index "$ES_VISIBILITY_INDEX"
            {{- end }}
          env:
            {{- include "temporal.admintools-env" (list $ $store) | nindent 12 }}
          volumeMounts:
            {{- with $.Values.admintools.additionalVolumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            - name: shims
              mountPath: /usr/local/sbin/temporal-elasticsearch-tool
              subPath: temporal-elasticsearch-tool
            {{- with $.Values.schema.resources }}
          resources:
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with $.Values.schema.containerSecurityContext }}
          securityContext:
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- if $.Values.server.config.namespaces.create }}
          {{- range $namespace := $.Values.server.config.namespaces.namespace }}
        - name: create-{{ $namespace.name }}-namespace
          image: "{{ $.Values.admintools.image.repository }}:{{ $.Values.admintools.image.tag }}"
          imagePullPolicy: {{ $.Values.admintools.image.pullPolicy }}
          command: ['/bin/sh','-c']
          args: ['temporal operator namespace describe -n {{ $namespace.name }} || temporal operator namespace create -n {{ $namespace.name }}{{- if hasKey $namespace "retention" }} --retention {{ $namespace.retention }}{{- end }}']
          env:
            - name: TEMPORAL_ADDRESS
              {{- if and (hasKey $.Values.server "internalFrontend") $.Values.server.internalFrontend.enabled }}
              value: {{ include "temporal.fullname" $ }}-internal-frontend.{{ $.Release.Namespace }}.svc:{{ $.Values.server.internalFrontend.service.port }}
              {{- else if $.Values.server.frontend.ingress.enabled }}
              value: "{{ index $.Values.server.frontend.ingress.hosts 0 }}"
              {{- else }}
              value: "{{ include "temporal.fullname" $ }}-frontend.{{ $.Release.Namespace }}.svc:{{ $.Values.server.frontend.service.port }}"
              {{- end }}
              {{- with $.Values.admintools.additionalEnv }}
                {{- toYaml . | nindent 12 }}
              {{- end }}
              {{- with $.Values.admintools.additionalEnvSecretName }}
          envFrom:
            - secretRef:
                name: {{ . }}
              {{- end }}
              {{- with $.Values.admintools.additionalVolumeMounts }}
          volumeMounts:
                {{- toYaml . | nindent 12 }}
              {{- end }}
              {{- with $.Values.schema.resources }}
          resources:
                {{- toYaml . | nindent 12 }}
              {{- end }}
              {{- with $.Values.schema.containerSecurityContext }}
          securityContext:
                {{- toYaml . | nindent 12 }}
              {{- end }}
          {{- end }}
        {{- end }}
      containers:
        - name: done
          image: "{{ $.Values.admintools.image.repository }}:{{ $.Values.admintools.image.tag }}"
          imagePullPolicy: {{ $.Values.admintools.image.pullPolicy }}
          command: ['sh', '-c', 'echo "Store setup completed"']
            {{- with $.Values.schema.resources }}
          resources:
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with $.Values.schema.containerSecurityContext }}
          securityContext:
              {{- toYaml . | nindent 12 }}
            {{- end }}
      {{- with $.Values.schema.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.admintools.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.admintools.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or $.Values.admintools.additionalVolumes true }}
      volumes:
        {{- with $.Values.admintools.additionalVolumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        - name: shims
          configMap:
            name: "{{ include "temporal.fullname" $ }}-shims"
            defaultMode: 0555
      {{- end }}
