server:
  replicaCount: 1
  config:
    persistence:
      defaultStore: default
      visibilityStore: visibility
      numHistoryShards: 512
      datastores:
        default:
          cassandra:
            hosts: "cassandra.default.svc.cluster.local"
            port: 9042
            keyspace: temporal
            user: user
            password: password
            replicationFactor: 1
            consistency:
              default:
                consistency: "local_quorum"
                serialConsistency: "local_serial"
        visibility:
          elasticsearch:
            version: v7
            url:
              scheme: http
              host: "elasticsearch-master-headless:9200"
            username: ""
            password: ""
            logLevel: error
            indices:
              visibility: temporal_visibility_v1
prometheus:
  enabled: false
grafana:
  enabled: false
