server:
  replicaCount: 1
  config:
    persistence:
      defaultStore: default
      visibilityStore: visibility
      numHistoryShards: 512
      datastores:
        default:
          sql:
            pluginName: postgres12
            driverName: postgres12
            databaseName: temporal
            connectAddr: "postgres-postgresql.postgres:5432"
            # connectProtocol defaults to "tcp" if not specified
            user: temporal
            password: temporal
            maxConns: 20
            maxIdleConns: 20
            maxConnLifetime: "1h"
        visibility:
          sql:
            pluginName: postgres12
            driverName: postgres12
            databaseName: temporal
            connectAddr: "postgres-postgresql.postgres:5432"
            # connectProtocol defaults to "tcp" if not specified
            user: temporal
            password: temporal
            maxConns: 20
            maxIdleConns: 20
            maxConnLifetime: "1h"
