server:
  config:
    persistence:
      defaultStore: default
      visibilityStore: visibility
      numHistoryShards: 512
      datastores:
        default:
          sql:
            pluginName: mysql8
            driverName: mysql8
            databaseName: temporal
            connectAddr: "_HOST_:3306"
            # connectProtocol defaults to "tcp" if not specified
            user: _USERNAME_
            password: _PASSWORD_
            maxConns: 20
            maxIdleConns: 20
            maxConnLifetime: "1h"
            connectAttributes:
              tx_isolation: 'READ-COMMITTED'
        visibility:
          sql:
            pluginName: mysql8
            driverName: mysql8
            databaseName: temporal_visibility
            connectAddr: "_HOST_:3306"
            # connectProtocol defaults to "tcp" if not specified
            user: _USERNAME_
            password: _PASSWORD_
            maxConns: 20
            maxIdleConns: 20
            maxConnLifetime: "1h"
            connectAttributes:
              tx_isolation: 'READ-COMMITTED'

schema:
  createDatabase:
    enabled: true
  setup:
    enabled: false
  update:
    enabled: false
